/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 $myColor: orange;
 $myFontSize: 2em;

.weaveform-header {

    font-size: $myFontSize;
    background-color: white;
    border:1px solid  $myColor;
    margin: 5px 0 5px 0;
    

    h1 {
        color: $myColor !important;
        text-align: center;
    }
    
}

.templates-table-container {
    background-color: white !important;
    border: 1px solid $myColor;
    padding:5px;
}

.templates-table-container .dt-input {
    width: 50% !important;
}